@import './utils/vars';
@import './utils/common';


.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.container.header {
    display: flex;
    align-items: center;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--logo-color);
}

.logo__part {
    color: var(--accent-color);
}

.nav,
.navigation,
.contacts,
.nav .logo {
    display: flex;
}

.nav .logo {
    align-items: center;
    margin-right: 93px;
}

.navigation__item {
    margin-right: 50px;
}

.current-page::after {
    content: "";
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    display: block;
    border-radius: 2px;
}

.navigation__item:last-child {
    margin-right: 0;
}

.navigation__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__link:hover,
.navigation__link:focus {
    color: var(--accent-color);
}

.navigation__link--current {
    color: var(--accent-color);
}

.contacts__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    display: flex;
    align-items: center;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link:hover,
.contacts__link:focus {
    color: var(--accent-color);
}

.contacts {
    margin-left: auto;
}

.contacts__item {
    margin-right: 50px;
}

.contacts__item:last-child {
    margin-right: 0%;
}

.contacts__icon {
    fill: currentColor;
    margin-right: 10px;
}

/* Hero */

.hero {
    background-color: var(--hero-background-color);
    max-width: 1600px;
    min-height: 600px;
    margin-right: auto;
    margin-left: auto;
    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--hero-title-color);
    margin-bottom: 30px;
    width: 696px;
    margin-right: auto;
    margin-left: auto;
}

.hero__btn {
    font-weight: 700;
    font-style: inherit;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    text-align: center;
    color: var(--hero-title-color);
    background-color: var(--accent-color);
    padding: 10px 32px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__btn:hover,
.hero__btn:focus {
    background-color: var(--hero-btn-hover);
}

/* Features */

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.features {
    padding-top: 94px;
    padding-bottom: 47px;
}

.features__list {
    display: flex;
}

.features__item {
    margin-right: 30px;
}

.features__item:last-child {
    margin-right: 0;
}

.features__img {
    width: 270px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    margin-right: 0;
    background-color: var(--secondary-background-color);
    border-radius: 4px;
}

.features__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--secondary-text-color);
    margin-bottom: 10px;
}

/* What do we do */

.work {
    padding-top: 47px;
    padding-bottom: 94px;
}

.work__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
    margin-bottom: 50px;
}

.work__list {
    display: flex;
    gap: 30px;
    padding: 0;
}

.work__thumb {
    position: relative;
}

.work__thumb::before {
    content: "";
    width: 100%;
    height: 70px;
    display: block;
    position: absolute;
    background-color: rgba(47, 48, 58, 0.8);
    left: 0;
    bottom: 0;
}

.work__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    position: absolute;
    left: 107px;
    bottom: 27px;
    color: var(--hero-title-color);
}

/* Our Team */

.team {
    background-color: var(--secondary-background-color);
    padding-top: 94px;
    padding-bottom: 94px;
}

.team__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
    margin-bottom: 50px;
}

.team__list {
    display: flex;
    gap: 30px;
}

.team__card {
    background-color: var(--hero-title-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team__descr {
    padding-bottom: 30px;
    padding-top: 30px;
    text-align: center;
}

.team__member {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
    margin-bottom: 10px;
}

.team__position {
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin-bottom: 16px;
}

/* Social Networks */

.socialNet {
    display: flex;
    justify-content: center;
}

.socialNet__item {
    width: 44px;
    height: 44px;
    margin-right: 10px;
    border-radius: 50%;
}

.socialNet__link {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    fill: var(--social-link-color);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socialNet__link:hover,
.socialNet__link:focus {
    background-color: var(--accent-color);
    fill: var(--hero-title-color);
}

/* Clients */

.clients {
    padding-top: 94px;
    padding-bottom: 94px;
}

.clients__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
    margin-bottom: 50px;
}

.clients__list {
    display: flex;
    justify-content: space-between;
}

.clients__item {
    width: 170px;
    height: 92px;
    /* border: 1px solid var(--social-link-color);
  border-radius: 4px; */
}

.clients__link {
    width: 170px;
    height: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--social-link-color);
    border-radius: 4px;
    fill: var(--social-link-color);

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover,
.clients__link:focus {
    border: 1px solid var(--accent-color);
    fill: var(--accent-color);
}

/* Footer Main Page*/

.footer {
    background-color: var(--hero-background-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer__flex {
    display: flex;
    align-items: baseline;
}

.footer__box {
    margin-right: 70px;
}

.logo--white {
    color: var(--hero-title-color);
    display: block;
    margin-bottom: 20px;
}

.address__item {
    margin-bottom: 9px;
}

.address__link {
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--address-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__link:hover,
.address__link:focus {
    color: var(--accent-color);
}

.address__link--white {
    color: var(--hero-title-color);
}

.footer__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--hero-title-color);
    margin-bottom: 20px;
}

.footer-social {
    background-color: rgba(255, 255, 255, 0.1);
}

.footer-social a {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social a:hover,
.footer-social a:focus {
    background-color: var(--accent-color);
}

/* Footer form */

.form-footer {
    margin-left: auto;
}

.form-footer__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--hero-title-color);
    margin-bottom: 20px;
}

.form-footer form {
    display: flex;
    align-items: center;
}

.form-footer input {
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: transparent;
    border-radius: 4px;
    padding-left: 16px;
    margin-right: 12px;
    color: rgba(255, 255, 255, 0.6);
    outline: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-footer input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.form-footer input:focus {
    border-color: var(--accent-color);
}


.form-footer button {
    width: 200px;
    height: 50px;
    background-color: var(--accent-color);
    color: var(--hero-title-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-footer svg {
    margin-left: 10px;
}

.form-footer button:hover,
.form-footer button:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.backdrop {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    opacity: 1;

    transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    width: 528px;
    height: 581px;
    padding: 40px;
    background-color: var(--hero-title-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);

    transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.5);
}

.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.close-button {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--hero-title-color);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover {
    fill: var(--accent-color);
}

.modal p {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    color: var(--secondary-text-color);
    margin-bottom: 12px;
}

.form-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

    position: relative;
}

.field-input {
    width: 100%;
    height: 40px;
    border: 1px solid var(--form-color);
    border-radius: 4px;
    padding-left: 42px;
    outline: none;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.field-input:focus {
    border-color: var(--accent-color);
}

.field-input:focus+.form-svg {
    fill: var(--accent-color);
}

.input-wrap {
    position: relative;
}

.form-svg {
    position: absolute;
    left: 12px;
    top: 11px;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

textarea {
    width: 448px;
    height: 120px;
    padding: 12px 16px;
    border: 1px solid var(--form-color);
    border-radius: 4px;
    resize: none;
    outline: none;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

textarea:focus {
    border-color: var(--accent-color);
}

.form-textarea textarea::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.form label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--primary-text-color);

    margin-bottom: 4px;
}

.checkbox-link {
    color: var(--accent-color);
    text-decoration: none;
    display: block;
    margin-left: 5px;
}

.checkbox-link::after {
    content: "";
    width: 100%;
    height: 1.5px;
    background-color: var(--accent-color);
    display: block;
}

.form .checkbox-label {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkbox {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.check-icon {
    margin-right: 7px;
    cursor: pointer;
}

.check {
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked+.check-icon>.check {
    opacity: 1;
}

.checkbox:checked+.check-icon>.square {
    opacity: 0;
}

.form button {
    width: 200px;
    height: 50px;
    margin: auto;
    display: block;
    background-color: var(--accent-color);
    color: var(--hero-title-color);
    border: none;
    border-radius: 4px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    cursor: pointer;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form button:hover,
.form button:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* Portfolio Page */

/* Header */

.portfolio-header {
    border-bottom: 1px solid var(--header-border-color);
}

/* Our Projects */

.projects-section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.filter.list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.filter.list li {
    margin-right: 8px;
}

.filter.list li:last-child {
    margin-right: 0;
}

.filter-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
    background-color: var(--secondary-background-color);
    border: none;
    border-radius: 4px;
    padding: 6px 22px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-btn:hover,
.filter-btn:focus {
    color: var(--hero-title-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects.list {
    display: flex;
    flex-wrap: wrap;
}

.projects li {
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.projects li:nth-child(3n) {
    margin-right: 0;
}

.projects li:nth-last-child(-n + 3) {
    margin-bottom: 0;
}

.portfolio-card {
    padding: 20px 24px;
    border-bottom: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
}

.projects-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--secondary-text-color);
    margin-bottom: 4px;
}

.projects-text {
    font-size: 16px;
    line-height: 1.9;
}

.projects .link {
    color: var(--primary-text-color);
    display: block;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects .link:hover,
.projects .link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}

.wrap-project-details {
    position: relative;
    overflow: hidden;
}

.project-details {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    color: var(--hero-title-color);
    padding: 63px 24px;
    transform: translateY(100%);

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects .link:hover .project-details {
    transform: translateY(0%);
}

.no-scroll {
    overflow: hidden;
}

/* Footer Portolio */

/* repeats styles of main page footer */